@require('../../styles/config/variables')
@require('../../styles/config/mixins')
@require('../../styles/config/app-wrapper.styl')

.header
  height 55px
  display flex
  align-items center
  background-color $blue
  color #fff
  font-family $mainFont
  font-size 3rem

.projectFirstName
  font-size 2.9rem
  font-weight 900

.projectLastName
  position relative
  top -0.5rem
  margin-left 0.3rem
  color $grayLight
  font-family $secondaryFont
  font-size 2.3rem
  font-weight 400

.wrapper
  +above(1024px)
    width 100%
    padding 0 3rem