@require('../../styles/config/variables')
@require('../../styles/config/mixins')
@require('../../styles/config/app-wrapper.styl')

.header
  display flex
  align-items center
  padding 1.3rem
  background-color get($colors, 'blue')
  color get($colors, 'white')
  font-family $mainFont
  font-size 3rem

.projectFirstName
  font-size 2.9rem
  font-weight 900

.projectLastName
  position relative
  top -0.5rem
  margin-left 0.3rem
  color get($colors, 'grayLight')
  font-family $secondaryFont
  font-size 2.3rem
  font-weight 400

.wrapper
  +above_screen(1024px)
    width 100%
    padding 0 3rem
